@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Reportes/_LayoutReportes.cshtml";
}
    <div>
        <h1>Reporte Clientes</h1>
    </div>
    <div class="col-12">
        <h1> Empresa </h1>
        <div class="row-6">
            <label for="Nombre" class="col-2 col-form-label">Nombre</label>
            <div class="col-9">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="nombre">
            </div>
        </div>
        <div class="row-6">
            <label for="Email" class="col-2 col-form-label">Email</label>
            <div class="col-9">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="nombre">
            </div>
        </div>
    </div>























    <style>
        .flexrow {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex !important;
        }

            .flexrow > div {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
            }
    </style>